
.tabContent {
   margin-top: 10px;
}

.featureCell {
   text-align: center;
}

.featureCell-green {
   background-color: rgba(0,200,0,.15);
}

.featureCell-red {
   background-color: rgba(200,0,0,.15);
}

.featureCell-yellow {
   background-color: rgba(210,210,0,.15);
}

/* Suggest */

.suggestItemId {
   float: right;
   font-size: 0.8em;
   padding-left: 5px;
   max-width: 50%;
   overflow: hidden;
   text-overflow: ellipsis;
}

.suggestItemLabel {
   max-width: 50%;
   white-space: normal;
}

.suggestItemDescription {
   color: #888;
   font-size: 0.9em;
   white-space: normal;
}

.dropdown-menu > li > a {
   text-decoration: none;
   border-bottom: 1px solid #e0e0e0;
}

.dropdown-menu > li:last-child > a {
   border: none;
} 

.dropdown-menu > li > a > li > a {
   display: inline-block;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
}

.dropdown-menu a:hover {
   text-decoration: none;
}

/* Types */

.reconTypeId {
   font-size: 0.9em;
   color: #888;
}

/* Candidates */

.active > .list-group-item-text > a {
   color: white;
}

div .radio label {
    width: 100%;
}

.candidateField {
    font-weight: bold;
}

.candidateValue {
    margin-left: 1.5em;
}
